*{margin : 0; padding : 0; box-sizing: border-box;}

        header{
            width: 100%;
            line-height: 15vh;
            background-color: #157ceb;
        }

        h1{
            text-align: center;
            text-transform: uppercase;
            color: white;
            font-weight: 60px;
            font-size: 1.8rem;
            letter-spacing: 15px;
            font-family: 'Montserrat', sans-serif;
        }

        section{
            height : 85vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #248ee4;

        }

        .gameArea{
            width: 50%;
            height: 400px;
            padding: 20px 0;
            background-color: #00a2ff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            box-shadow: 0 8px 6px -6px black;
            font-family:'Montserrat', sans-serif;

        }

        h3{
            text-align: center;
            font-size: 1.5rem;
        }

        input{
            width: 86%;
            padding : 15px 0;
            text-align : center;
            border-radius: 25px;
            outline: none;
            border: none;
            border-color: #dff9fb;
            color: black;
            margin: 2rem 0;
            font-size: 1.1rem;
        }

        button{
            font-size: 1rem;
            cursor: pointer;
            outline: none;
            border: #2f3542;
            margin-top: 10px;
            /* color: #eb4d4b; */
        }

        button.btn{
            font-weight: 600;
            padding: 1rem 2rem;
            background: white;
            border-radius: 20px;
            text-transform: uppercase;
            transition-property: all;
            transition-duration: 0.5s;
            transition-timing-function: cubic-bezier(0.65, -0.25,0.25, 1.95);
        }

        button.btn:hover, button.btn:focus, button.btn:active {
            letter-spacing: 0.125rem;
            word-spacing: 0.2rem ;
        }

        .hidden{
            display: none;
        }

